/*
 * Estilos de tu proyecto
 */
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0px;
    color: white;
    /* font-stretch: ultra-condensed; */
}
#main{
    /* position: fixed; */
    width: 100%;
    height: 82px;
    background-color: #2c3e50;
    font-size: 15px;
    font-weight: bold;
}
.logo{
    position:absolute;
    top: 5px;
    left: 150px;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* font-weight: bold;  */
    font-stretch: ultra-condensed;
}
#mothership{
    position: absolute;
    top: 15px;
    right: 150px;
}
.navegation{
    display: inline;
    left: 20px;
    padding: 5px;
    /* margin-top: 40px; */
    vertical-align: center;
}
li{
    vertical-align: top;
}
 #first, #third {
     background-color:#18bc9c;
     padding: 3.4em;
     /* font-size: 3em;  */
    }
 #second, #fourth{
    background-color:white;
    color: #2c3e50;
    padding: 4em;
    font-size: normal;
    font-weight: 400;
 }
 #fiveth{
     background-color: #2c3e50;
     padding: 6em;
 }
 #end{
     background-color: #1a252f;
     padding: 10px;
 }
 /* #button{
    background-color: #18bc9c;
    border: 1px solid white;
    width: 200px;
} */
#head{
    font-size: 1.75em;
    margin-top: 5px;
}
 h1{
    font-size: 4.75em;
    line-height: 4rem;
    font-weight: 900;
}
 h2{
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 700;
} 
span{
    color: #18bc9c;
}
.img{
    display: inline-block;
    height: 235px;
    width: 335.5px;
    margin: 13px;
}
#man{
    margin-top: 50px;
    margin-bottom: -20px;
    height: 240px;
    width: 250px;
}
.text {
    display: inline-block;
    text-align: initial;
    height: 300px;
    width: 300px;
    margin: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    vertical-align: top;
}
.form{
    width: 80%;
    margin: 10px;
    border: 1px solid white;
}
.information{
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 10px;
    padding: 10px;
}
.icon{
    border: 2px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
     padding: 10px 5px 0px;
    /*vertical-align: sub; */
}
.star:after {
    content:"after";
    width:200px;
    line-height:40px;
    height:40px;
    background:#ff0000;
    position:absolute;
    top:-40px;
    left:0;
    color:#FFF;
    text-align:center
}
